---
import '../styles/global.css';

import { site } from 'astro:config/client';

const title = 'Jockey';
const description = '*record scratch sound effect*';
const socialImageUrl = new URL('/Jockey/favicon-96x96.png', site);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>

        <!-- Open Graph tags -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta property="og:url" content={site} />
        <meta property="og:image" content={socialImageUrl} />
        <meta property="og:description" content={description} />

        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={socialImageUrl} />

        <!-- Favicon links -->
        <link
            rel="icon"
            type="image/png"
            href="/favicon-96x96.png"
            sizes="96x96"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <meta name="apple-mobile-web-app-title" content={title} />
    </head>
    <body>
        <slot />
    </body>
</html>
